<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="white" style="color: #143363">

    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title text-center>PNE</ion-title>

  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <div *ngIf="messages" >
    <div *ngIf="messages.data" >
    <ion-item *ngFor="let i of messages.data">
      <ion-thumbnail *ngIf="i.imagem && i.imagem != null" item-left>
        <img src="{{i.imagem}}">
      </ion-thumbnail>
      <h3> {{i.entidade}}</h3>
      <h2>{{i.titulo}}</h2>
      <h4>{{i.tipo}}</h4>
      <div>
        <h2>{{i["linha-1"]}}</h2>
        <h2>{{i["linha-2"]}}</h2>
      <div *ngIf="date1" >
        <ion-item>
          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="date1"></ion-datetime>
        </ion-item>
      </div>
      </div>
    </ion-item>
    </div>
    </div>
  </ion-list>
</ion-content>
