<ion-header>
  <ion-navbar >
      <ion-title>
        Mensagem
      </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <b><h2 style="font-size: 1.8rem;">{{item.titulo}}</h2></b>
  <div [ngStyle]="{'border-color': colors[item.tipo]}" style=" border:solid; display: inline-block; border-radius: 10px; border-width: 0.14em;">
    <h6 [ngStyle]="{'color': colors[item.tipo]}" style="margin:0px 10px 0px 10px; font-weight: 400">{{item.tipo}}</h6>
  </div>
  <ion-item>
    <h4 style="color:gray"> {{item.entidade}}</h4>
    <div *ngIf="date1" >
        <div style="word-wrap:break-word; color:gray; font-size: 0.70em; ">
          <ion-icon md-name="access_time" style=" position: relative; top: 3px;"></ion-icon>
          <span style="white-space:normal">Valido até {{date1.toISOString().substring(0, 10)}}</span>
        </div>
    </div>
  </ion-item>
  <ion-card-content> <div [innerHTML]="item.conteudo"> </div> </ion-card-content>

  <div  *ngIf="existeAnexos()">
    <ion-buttons end>
       <button ion-button full (click) ="download()">
         <ion-icon md-name="cloud_download"></ion-icon>
       </button>
    </ion-buttons>
  </div>

  <div class="btn-wrapper" *ngIf="item['spne-local']=='entrada'">
    <button ion-button (click)="arquivar()">ARQUIVAR</button>
  </div>
</ion-content>


