slides {

    ion-content {
        background: #ffffff;
    }

    ion-textarea{
        border: #000000;
    }

    ion-title{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        text-align: center;
    }
.header-banner{

		height:200px;
		min-height:200px;
		background:red;
	}
    .slide-zoom {
      height: 100%;
    }

    ion-slides {
       height: 350px;
    }

    .btn-wrapper {
        text-align: center;
    }
}
